<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CMutationObserver" crossorigin="anonymous"></script>
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="lines-app" class="container-fluid">
        <h1>Lines:</h1>
        <div id="lines-table">
            <div data-find="line-row" v-for="line in lines" class="row">
                <div data-find="line-id" class="col-sm-1">{{ line.lineId }}</div>
                <div data-find="line-name" class="col-sm-8">{{ line.lineChars }}</div>
            </div>
        </div>
        <form class="form-inline">
            <input v-model="newLineName" type="text" class="form-control" id="line-name" placeholder="line name">
            <button id="line-add-button" type="button" v-on:click="addLine" class="btn btn-primary mb-2">Add line</button>
        </form>
        <form class="form-inline">
            <button v-on:click="removeAll" type="button" class="btn btn-primary mb-2">Delete all</button>
        </form>
    </div>
    <script src="index.js"></script>
</body>
</html>